# Игнорируем папки сборки и кэша .NET (Критически важно!)
**/bin/
**/obj/
**/.vs/
**/.vscode/

# Игнорируем локальные инструменты и папки IDE
.git/
.github/
.gitignore
*.user
*.suo
*.sln.docproperties

# Игнорируем локальные файлы конфигураций (чтобы случайно не затереть конфиги в докере)
**/appsettings.local.json

# Игнорируем логи и временные файлы
*.log
.pki/

# Игнорируем папки контейнеров и базы данных, если они лежат в корне проекта
**/pgdata/
**/tools/dbpga/
**/pg_data/
