<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByAttribute>GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <Exclude>
            [*]*OpenApi*
            [*]*Generated*
            [*]*CompilerGenerated*
            [*]Program
            [TaskManagementService.Tests]*
            [*]*Migrations*
          </Exclude>
          <Include>
            [TaskManagementService.Api]*
            [TaskManagementService.Dal]*
            [TaskManagementService.Domain]*
            [TaskManagementService.Listener.Http.Api]*
            [TaskManagementService.Listener.Rabbit.Api]*
          </Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
