<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByAttribute>GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <Exclude>
            <Filter>[*]*OpenApi*</Filter>
            <Filter>[*]*Generated*</Filter>
            <Filter>[*]*CompilerGenerated*</Filter>
            <Filter>[*]Program</Filter>
            <Filter>[TaskManagementService.Tests]*</Filter>
            <Filter>[*]*Migrations*</Filter>
          </Exclude>
          <Include>
            <Filter>[TaskManagementService.Api]*</Filter>
            <Filter>[TaskManagementService.Dal]*</Filter>
            <Filter>[TaskManagementService.Domain]*</Filter>
            <Filter>[TaskManagementService.Listener.Http.Api]*</Filter>
            <Filter>[TaskManagementService.Listener.Rabbit.Api]*</Filter>
          </Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
